app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}

.time {
  font-size: 2rem;
  margin-bottom: 20%;
  text-align: center;
}

.button {
  padding: .6rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  border-style: groove;
  border-radius: 5%;
  width: 9.5rem;
}

.button:focus {
  outline-width: 0;
}

.timer {
  display: flex;
  align-items: center;
  margin-bottom: 10%;
}

.description {
  flex: 1;
}

.timerminutes {
  margin-top: 1rem;
  font-size: 1.8rem;
  text-align: center;
}

audio {
  display: none;
}
